@font-face {
  font-family: 'Modern Era';
  src: url(ModernEra-Medium.otf);
  font-weight: 600;
}

@font-face {
  font-family: 'Modern Era';
  src: url(ModernEra-Regular.otf);
  font-weight: 500;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background: white;
  color: #ffac6d;
}

body {
  margin: 0;
  font-family: "Modern Era","DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0.1rem;
  font-size: 18px;
  font-weight: 500;
}

div.progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 50px;
  background-color: #ffdf76;
  mix-blend-mode: multiply;
  z-index: 2;
  pointer-events:none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bolder;
  background:white;
  font-size: 20px;
  width: 100%;
  position: sticky;
  top: 0;
  height: 50px;
  z-index: 1;
}

header div.socials,
header nav {
  flex: 1;
  display: flex;
  flex-direction: row;
}

header nav div {
  width: 75px;
}

header div.socials {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo:hover span{
  display:none;
}

.logo:hover:before {
  content:"Namaste! 🙏";
  color: black;
  letter-spacing: 0.05rem;
  text-decoration: none;
}

header div a,
header nav a {
  color: black;
  text-decoration: none;
  margin-left: 20px;
  text-align: right;
}

.socials a:hover {
  transform: rotate(20deg);
}

nav a:hover span {
  display:none;
}
nav a:hover:before {
  content:"Read";
}

p {
  margin: 0;
  max-width: 600px;
  letter-spacing: 0.05rem;
  line-height: 28px;
  padding: 0 50px 50px 50px;

}

h2 {
  font-size: 20px;
  margin-bottom: 50px;
}

a.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 40px;
  border-radius: 30px;
  background: white;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  transition: background-color 1s;
}

a.button:hover {
  background: black;
  color: white;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px 0 120px 0;
}

#intro {
  background:#ffac6d;
  min-height: 100vh;
  margin:0;
  padding: 0;
  animation-name: gradient;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

@keyframes gradient {
  0% {background-color: #ffac6d}
  25% {background-color: #ffdf76}
  50% {background-color: rgb(255, 219, 153)}
  75% {background-color: #ffdf76}
  100% {background-color: #ffac6d}
}

#intro img {
  margin-top: -50px;
  -webkit-animation: rotating 10s linear infinite;
}

@-webkit-keyframes rotating {
  from{
      -webkit-transform: rotate(0deg);
  }
  to{
      -webkit-transform: rotate(360deg);
  }
}

#who {
  background: rgb(255, 248, 218);
}

#what {
  background: rgb(255, 219, 153);
}

#why {
  background: rgb(255, 248, 218);
}

#try {
background: #ffac6d;
}

#footer {
  height: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  animation-name: footer-gradient;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

@keyframes footer-gradient {
  0% {background-color: rgb(255, 248, 218);}
  25% {background-color: #ffdf76}
  50% {background-color: rgb(255, 248, 218);}
  75% {background-color: rgb(255, 219, 153)}
  100% {background-color: rgb(255, 248, 218);}
}

h3 {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin:0;
  width: 100%;
  padding: 0 15px 0 15px;
  letter-spacing: 0.05rem;

}

#popup {
  background: #fff;
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 250px;
  padding: 20px 20px 20px 20px;
  text-align: center;
}

.emoji
{
font-size: 30px;
padding-top: 5px;
line-height: 30px;
}

.emoji-tag {
  position: fixed;
  font-size: 30px;
  z-index: 3;
}

#popup p {
  padding: 0;
  font-size: 16px;
  line-height: 22px;
}

#popup a{
color: black;
text-decoration: none;
border-bottom: 2px solid black;
}

#popup a:hover{
  color: #ffdf76;
  border-bottom: 2px solid #ffdf76;
}

#popup-small{
  position: fixed;
  bottom: 14px;
  left: 15px;
  display: none;
  cursor: pointer;
  font-size: 20px;
}

#popup-small:hover span {
  display:none;
}

#popup-small:hover:before {
  content:"Yes, please! Click here.";
  display: flex;
  justify-content: flex-start;
}

#close {
  cursor: pointer;
  border-bottom: 2px solid black;
}

#close:hover {
  color: #ffdf76;
  border-bottom: 2px solid #ffdf76;
}

#back-to-top{
  position: fixed;
  bottom: 12px;
  right: 15px;
}

#back-to-top a{
color: black;
text-decoration: none;
font-size: 20px;
letter-spacing: 0.05rem;
}

#back-to-top a:hover span {
  display:none;
}

#back-to-top a:hover:before {
  content:"Zooom!";
  display: flex;
  justify-content: flex-start;
}

#mobile-header {
  display: none;
}

#mobile-overlay{
  display: none;
}

#scroll {
  display: none;
}

@media (max-width: 880px){

  .logo:hover:before {
    content:"Namaste ! 🙏";
    padding-left: 15px;
  }

#intro img {
    width: 70%!important;
  }
  
  header nav {
    display: none;
  }

  header img{
    padding-left: 20px;
  }

  header div.socials {
    padding-right: 0;
  }

  header div.socials a{
    padding-right: 15px;
    margin-left: 0;
  }

  #scroll {
    display: block;
    position: sticky;
    width: 100%;
    bottom: 30px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0.05rem;
  }
  
  #scroll a {
    text-decoration: none;
    color: black;
  }

  #back-to-top{
    bottom: 20px;
  }

  #footer {
    padding: 20px 0 20px 0;
  }

  #popup {
    display: none;
  }

  #popup-small{
    display: none;
  }
}

@media (max-width: 400px){
  header div.socials,
  h3,
  h2,
  #back-to-top span,
  #scroll {
  font-size: 18px;
}

.logo img{
  width: 150px;
}

}